<div class="container-fluid">
    
</br>
  <h2> Instructor Dashboard</h1>
   
<div>
    <button type="button" class="btn btn-primary btn-lg" style="float:right;">Instructor Access</button>
</div>
<div class="container-fluid">
 
  <div class="row">

  <% for ( let i = 0; i < val.length; i++) {   
    studentcourse = val[i];   %>
    <div class="col-lg-4">
    <div class="card" style="max-width: 23rem; min-height: 23rem;">
    
    <div class="card-body">
    <h4 class="card-title"> <%= studentcourse.coursename%></h4>
    
    <!-- Links -->
    <a href="#" class="card-link">Intial Survey Link : <%= studentcourse.intiallink %> </a></br>
    <a href="#" class="card-link">Final Survey Link : <%= studentcourse.finallink %></a></br>
      <br>

   
     
      

      <a href="#" class="btn btn-primary" style="width:100%; height:100%" onclick="toggler('<%=i%>');"> Reveal Codeword </a>

      <div id="<%=i %>"" class='hidden'>
        <div> <%= studentcourse.codeword %>  </div>
      </div> 
    </div>
    
    </div>
    </div>
    <%}%>
  </div>
    </div>

    </div>  


<script>


function toggler(divId) {
    $("#" + divId).toggle();
} 
</script>

<style>

.hidden{

  display:none;
}
</style>