<div class="container-fluid">
</br>
  <h2> Student Dashboard</h1>

<div class="container-fluid">
 
  <% if(!isinstructor) { %>
  <div class="btn btn-primary btn-lg float-right">
    
          <button type="button" onclick="requestForacess()" class="btn btn-primary btn-lg" style="float:right; background-color:black;color:white">Request Instructor Privileges</button>
  </div>
  <% } %>
  <p><% val %></p>
  <div class="row" style=" display: inline-flex; padding: 15px">
        

  <% for ( let i = 0; i < val.length; i++) {   
    studentcourse = val[i];   %>
    <div class="col-md-4" style="padding: 15px;">
    <div class="card" style="max-width: 15rem; min-height: 10rem: padding: 15px">
    
    <div class="card-body">
    <h4 class="card-title"> <%= studentcourse.coursename%></h4>
    
    <!-- Links -->
    <!-- Start date: <a href="#" class="card-link" > <%= studentcourse.startdate %> </a></br>
    End date: <a href="#" class="card-link" > <%= studentcourse.enddate %> </a></br> -->
    <!-- Start date: <a href="#" class="card-link" > <%= studentcourse.startdate %> </a></br> -->
    
    Intial Survey Link: 
    <% if(studentcourse.intiallink!=""){ %>
       <a href="<%= studentcourse.intiallink %>" class="card-link" target="_" style="color :green"> Take me there </a></br>
       <% } else{%>
        <p  style="color :crimson"> Link not available</p>
        <% } %>  
    
       Final Survey Link:
       <% if(studentcourse.finallink!=""){ %>
        <a href="<%= studentcourse.finallink %>" class="card-link" target="_" style="color :green"> Take me there</a></br>
        <% } else{%>
          <p  style="color :crimson"> Link not available</p>
        <% } %>
      <br>

      <% if (!studentcourse.isRead) { %>
      <a href="#" class="btn btn-primary" style="width:100%; height:100%; background-color:black; color:white" onclick="markAsRead('<%=studentcourse.courseId%>');"> Reveal Codeword </a>
      <% } %>
      <% if (studentcourse.isRead) { %>
      <div id="<%=i %>">
          <p id="<%=i %>" hidden=true></p>
        <button  onclick="copyToClipboard('#<%=i %>')" style="border-radius:50%;background-color:black;color:white;height: 30px;width:130px;font-size: 18px;margin-left:30px;text-align: center;" ><%= studentcourse.codeword %>  </button>
      </div> 
      <% } %>
    </div>
    
    </div>
    </div>
    <%}%>
  </div>
    </div>

    </div>  


<script>
     
function markAsRead(courseid){
    
    $.ajax({url: "/student/revealCode",type: 'POST',data:{courseId:courseid}, success: function(result){
        
      location.reload();
       
    }});
  }

function requestForacess(){

  $.ajax({url: "/student/requestForInstructorAcess", success: function(result){
      
    alert(result)
     
  }});
}

function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  alert("Copied the text to clipboard.");
}
</script>

<style>

.hidden{

  display:none;
}
</style>