<% include ../header %>
<!-- main  -->


      <div class="form-group">
        <label for="coursename">CourseName</label>
        <input type="text" class="form-control" id="coursename" name="coursename" value="<%= instructors.coursename %>" required>
      </div>
      <div class="form-group">
        <label for="startdate">StartDate</label>
        <input type="text" class="form-control" id="startdate" name="startdate" value="<%= instructors.startdate %>" required>
      </div>
      <div class="form-group">
        <label for="enddate">EndDate</label>
        <input type="text" class="form-control" id="enddate" name="enddate" value="<%= instructors.enddate %>" required>     
    </div>
    <div class="form-group">
      <label for="intiallink">IntialLink</label>
      <input type="text" class="form-control" id="intiallink" name="intiallink" value="<%= instructors.intiallink %>" required>
    </div>
    <div class="form-group">
      <label for="finallink">FinalLink</label>
      <input type="text" class="form-control" id="finallink" name="finallink" value="<%= instructors.finallink %>" required>
    </div>
    <div class="form-group">
      <label for="studentlist">Assign StudentList</label>
      <input type="file" class="form-control" id="studentlist" name="studentlist">
    </div>
    <div class="form-group">
      
      <select class="form-control form-control-lg" id="codeword" name="codeword">
          <option value="">Code Word</option>
          <option value="Fruits">Fruits</option>
          <option value="Cities">Cities</option>
          <option value="Cars">Cars</option>
        </select>
        
      <!-- <input type="text" class="form-control" id="codewordsetname" name="codewordsetname" value="<%= instructors.codewordsetname %>" required> -->
    </div>

  <!-- <% include ../footer %> -->
  
 